.details-image{
    max-width: 20%;
}

.instuctions{
    width:60%;
    margin: auto;
}

.container{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


@media only screen and (max-width: 1600px) {
    .details-image {
        max-width: 30%;
    }
}
@media only screen and (max-width: 800px) {
    .container {
        
        grid-template-columns: 1fr;
    }
   .details-image {
       max-width: 50%;
   }
}